.naranjaErp {
    background-color: #FFFFFF;
}

.naranjaErp_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    margin-top: 2rem;
}

.naranjaErp_subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding: .8rem 1.5rem;
}

.naranjaErp_cards {
    margin: 0 0 2rem 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -2px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    opacity: .5 !important;
    background: #FF751A !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #061439 !important;
}

@media screen and (min-width: 768px) {
    .naranjaErp_title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 26px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #000000;
        margin: 2rem;
    }


    .swiper-pagination-bullet {
        opacity: .5 !important;
        width: 12px;
        height: 12px;
        background: #061439b9 !important;
    }

    .swiper-pagination-bullet-active {
        opacity: 1 !important;
        background: #FF751A !important;
    }
}