.videoTour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2rem;
}

.videoTour_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    padding: 1rem 0;
}

.videoTour_video {
    width: 100%;
    aspect-ratio: 1/.626;
}

.videoTour_button {
    border: 1px solid #07143A;
    border-radius: 50px;
    width: 156px;
    height: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #07143A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

@media screen and (min-width: 768px) {
    .videoTour_title {
        text-align: center;
        padding: 2.5rem 0 3rem;
        color: #FFF;
        font-size: 26px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.38px;
    }

    .videoTour {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: #061439;
        height: max-content;
    }

    .videoTour_video {
        width: 70%;
        aspect-ratio: 1/.626;
    }

    .videoTour_button {
        width: 237px;
        height: 31px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2.5rem;
        border-radius: 8px;
        border: 1px solid #FFF;
        color: #FFF;
        font-size: 19px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

}