.caracteristicasYFuncionalidadesItem {
  padding: 0 2rem;
}

.caracteristicasYFuncionalidadesItem_img {
  width: 49px !important;
  height: 49px !important;
  border: 1px solid #000066;
  border-radius: 50%;
  margin: 1rem auto 0.7rem;
  padding: 0.5rem 0;
  position: relative;
}

.caracteristicasYFuncionalidadesItem_img-img {
  display: flex;
  justify-content: center !important;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 13px;
}

.caracteristicasYFuncionalidadesItem_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  padding: 0 0 0.2rem;
}

.caracteristicasYFuncionalidadesItem_list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.caracteristicasYFuncionalidadesItem_list-item {
  list-style: none;


}

#cuentasPorPagar
  .caracteristicasYFuncionalidadesItem_img
  .caracteristicasYFuncionalidadesItem_img-img {
  right: 17px !important;
}

#bancos
  .caracteristicasYFuncionalidadesItem_img
  .caracteristicasYFuncionalidadesItem_img-img {
  right: 15px !important;
}

#ordenesDeVenta
  .caracteristicasYFuncionalidadesItem_img
  .caracteristicasYFuncionalidadesItem_img-img {
  bottom: 16px !important;
}

@media (min-width: 1024px) {
  .caracteristicasYFuncionalidadesItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
   
  border-style: outset;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
  
  }
  .caracteristicasYFuncionalidadesItem1 {
    width: 100%;

    display: flex;
  }
  .caracteristicasYFuncionalidadesItem2 {
    width: 100%;

    display: flex;
  }
  .caracteristicasYFuncionalidadesItem3 {
    width: 100%;

    display: flex;
  }
  .caracteristicasYFuncionalidadesItem4 {
    width: 100%;

    display: flex;
  }
  
  .caracteristicasYFuncionalidadesItem_img {
    width: 70px !important;
    height:70px !important;
    border: 1px solid #000066;
    border-radius: 50%;

    padding: 0.5rem 0;
    position: absolute;
  
  }
  .caracteristicasYFuncionalidadesItem_list-item {
    list-style: none;
    width: 100%;
 
    font-size: 0.8rem;
  }
  .caracteristicasYFuncionalidadesItem_list {
   position: relative;
   margin-left: 15%;
text-justify: auto;
text-align: left;
font-size: 15px;
   
   

  }
  .caracteristicasYFuncionalidadesItem_title {
    font-size: 18px;
    padding-top: 2%;
    color: #000066;
  }

  .caracteristicasYFuncionalidadesItem_img-img {
    right: 22px;
    top: 25px;
    width: 35%;

  }
  #bancos
  .caracteristicasYFuncionalidadesItem_img
  .caracteristicasYFuncionalidadesItem_img-img {
 
    top: 22px;
    width: 35%;
    left: 23px;
}
#cuentasPorPagar
  .caracteristicasYFuncionalidadesItem_img
  .caracteristicasYFuncionalidadesItem_img-img {
    top: 22px;
    width: 22%;
    left: 28px;
}


}
