.caracteristicasYFuncionalidadesItem_img {
    width: 49px !important;
    height: 49px !important;
    border: 1px solid #000066;
    border-radius: 50%;
    margin: 1rem auto .7rem;
    padding: .5rem 0;
    position: relative;
}

.caracteristicasYFuncionalidadesItem_img-img {
    display: flex;
    justify-content: center !important;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 13px;
}

.caracteristicasYFuncionalidadesItem_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding: 0 0 .2rem;
}

.caracteristicasYFuncionalidadesItem_list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.caracteristicasYFuncionalidadesItem_list-item {
    list-style: none;
}

#cuentasPorPagar .caracteristicasYFuncionalidadesItem_img .caracteristicasYFuncionalidadesItem_img-img {
    right: 17px !important;
}

#bancos .caracteristicasYFuncionalidadesItem_img .caracteristicasYFuncionalidadesItem_img-img {
    right: 15px !important;
}

#ordenesDeVenta .caracteristicasYFuncionalidadesItem_img .caracteristicasYFuncionalidadesItem_img-img {
    bottom: 16px !important;
}

@media screen and (min-width: 1024px) {
    .caracteristicasYFuncionalidadesItem {
        width: 500px;
        border-radius: 40px;
        background: #FFF;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 58, 0.15);
        padding: 0;
        display: flex;
        height: 170px;
    }

    .caracteristicasYFuncionalidadesItem_img {
        width: 70px !important;
        height: 70px !important;
        border: 1px solid #000066;
        border-radius: 50%;
        margin: 1rem auto .7rem;
        padding: .5rem 0;
        position: relative;
    }

    .caracteristicasYFuncionalidadesItem_img-img {
        display: flex;
        justify-content: center !important;
        align-items: center;
        position: absolute;
        bottom: 15px;
        right: 13px;
    }

    .caracteristicasYFuncionalidadesItem_content {
        width: 345px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .caracteristicasYFuncionalidadesItem_img-img {
        display: flex;
        justify-content: center !important;
        align-items: center;
        position: absolute;
        bottom: 25px;
        right: 23px;
    }

    #cuentasPorPagar .caracteristicasYFuncionalidadesItem_img .caracteristicasYFuncionalidadesItem_img-img {
        right: 27px !important;
    }

    #bancos .caracteristicasYFuncionalidadesItem_img .caracteristicasYFuncionalidadesItem_img-img {
        right: 25px !important;
    }

    #ordenesDeVenta .caracteristicasYFuncionalidadesItem_img .caracteristicasYFuncionalidadesItem_img-img {
        bottom: 26px !important;
    }

    .caracteristicasYFuncionalidadesItem_img {
        width: 70px !important;
        height: 70px !important;
        border: 1px solid #000066;
        border-radius: 50%;
        margin: auto 1.8rem auto 2rem;
        padding: .5rem 0;
        position: relative;
    }

    .caracteristicasYFuncionalidadesItem_list {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: left;
        color: #000000;
    }

    .caracteristicasYFuncionalidadesItem_title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        text-align: left;
        color: #00003A;
        padding: 0 0 .4rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    .caracteristicasYFuncionalidadesItem {
        width: 95%;
        max-width: 510px;
        border-radius: 40px;
        background: #FFF;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 58, 0.15);
        padding: .5rem 0 1.5rem 0;
        height: max-content;
        margin: 1rem auto;
    }

    .caracteristicasYFuncionalidadesItem_list {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin: auto;
        text-align: center;
        width: 90%;
        color: #000000;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1120px) {
    .caracteristicasYFuncionalidadesItem {
        width: 450px;
        border-radius: 40px;
        background: #FFF;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 58, 0.15);
        padding: 0;
        display: flex;
        height: 207px;
    }

    .caracteristicasYFuncionalidadesItem_content {
        width: 315px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}