.naranjaPos_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
}
.naranjaPos {
    background-color: #F1F1F1;
}

.naranjaPos_subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding: .8rem 1.5rem;
}

.naranjaPos_cards {
    margin: 0 0 2rem 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -2px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    opacity: .5 !important;
    background: #FF751A !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #061439 !important;
}

@media screen and (min-width: 768px) {
    .naranjaPos_title {
        margin: 3.5rem 0 0;
        text-align: center;
        color: #000000;
        font-size: 26px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.38px;
    }

    .naranjaPos_subtitle {
        color: #000000;
        padding: .8rem 1.5rem;
        text-align: center;
        font-size: 21px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0 auto 2rem;
    }

    .naranjaPos_cards {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 48px 60px;
        width: 90%;
        max-width: 970px;
    }

    .slide {
        width: 455px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1120px) {
    
    .naranjaPos_cards {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 48px 60px;
        width: 90%;
        max-width: 882px;
    }

    .slide {
        width: 411px;
        margin: auto;
    }
}
