@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: rgb(7, 20, 58);
  background: linear-gradient(180deg, rgba(7, 20, 58, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(255, 255, 255, 1) 98%, rgba(7, 20, 58, 1) 100%);
}