.naranjaPosItem {
  background: #ffffff;
  border: 0.8px solid #cccccc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 184px;
  height: 260px;
  position: relative;
  margin: 1rem auto 2rem auto;
}

.naranjaPosItem_img {
  position: absolute;
  top: 10px;
  left: 20px;
}

.naranjaPosItem_description {
  width: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 165px;
  left: 16px;
}

#card3 .naranjaPosItem_img {
  position: absolute;
  top: 28px;
  left: 28px;
}

#card8 .naranjaPosItem_img {
  position: absolute;
  top: 31px;
  left: 13px;
}

@media (min-width: 1024px) {
  .naranjaPosItem {
    height: 200px;
  
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;

    border: 0.8px solid #cccccc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  .naranjaPos_cards {
  
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  .naranjaPosItem_description {
    font-size: 22px;
    left: 170px;
    line-height: 26px;
    width: 50%;
    top: 30px;
  }
  .naranjaPosItem_img {
    position: absolute;
    top: 25px;
    left: 20px;
  }
  #card3 .naranjaPosItem_img {
    position: absolute;
    top: 25px;
    left: 20px;
  }
  #card8 .naranjaPosItem_img {
    position: absolute;
    top: 25px;
    left: 20px;
  }
}
@media (max-width: 610px) {
  .naranjaPosItem {
    width: 70%;
    height: 320px;
  }

  .naranjaPosItem_description {
    font-size: 14px;
    left: 15%;
    line-height: 16px;
    width: 70%;
    top: 50%;
  }
  .naranjaPosItem_img {
    left: 15%;
    width: 70%;
  }
  #card3 .naranjaPosItem_img {
    left: 15%;
    width: 70%;
    top: 15px;
  }
  #card8 .naranjaPosItem_img {
    left: 15%;
    width: 70%;
  }
}
@media (max-width: 500px) {
  .naranjaPosItem {
    width: 65%;
    height: 320px;
  }
  .naranjaPosItem_description {
    font-size: 12px;
    left: 12%;
    width: 75%;
    top: 30%;
  }
  .naranjaPosItem_img {
    left: 15%;
    width: 70%;
  }
  #card3 .naranjaPosItem_img {
    left: 15%;
    width: 70%;
  }
  #card8 .naranjaPosItem_img {
    left: 15%;
    width: 70%;
  }
}
